
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #111827;
    background-image: url("./assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-family: 'Poppins', sans-serif;

}